* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px;

  --bg-primary: #282c34;
  --text-primary: #abb2bf;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

#app {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
